  <%# <%= cl_image_tag("1v4p5ielbrgq5we0m1rxrfce3y16", width: 800, height: 200, crop: :thumb, gravity: :face) %>
<div class="conteiner">


  <div class="card-small" >
       <ul class = "card-small-list">
        <% @lists.each do |list| %>
          <%= cl_image_tag("1v4p5ielbrgq5we0m1rxrfce3y16", width: 150, height: 150, crop: :thumb, gravity: :face) %>
          <li><%= link_to list.name, list_path(list) %></li>
        <% end %>
       </ul>
  </div>


</div>
<%# <h3><%= link_to "Create your list", new_list_path %>


<%# <%= cl_image_tag("1v4p5ielbrgq5we0m1rxrfce3y16", width: 150, height: 150, crop: :thumb, gravity: :face) %>
