<div class="container">
  <div class="navbar">
    <div class="navbar-icon">
      <%= image_tag "2ATHYW0-1038x778.webp", class: "logo" %>

    </div>

    <div class="navbar-link">
      <div class="navbar-item">
        <%= link_to "Home", lists_path  %>
      </div>
      <div class="navbar-item">
        <%= link_to "New Category", new_list_path %>
      </div>
      <div class="navbar-item">
        <%= link_to "Movies", lists_path %>
      </div>
      <div class="navbar-item">
        <%= link_to "Contact", lists_path %>
      </div>
    </div>
  </div>
</div>
